{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
      <label for="userName" class="form-label">Username</label>
      <input type="text" autofocus class="form-control" id="userName" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="InputPassword">
    </div>
    
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>


{% endblock %}